<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/dashboard.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body ng-app="vgListaVizApp">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div ng-controller="NavBarCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="col-xs-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:white;">VGLista Visualisering</a>
        </div>
        <div id="navbar1" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active: isActive('/about')}"><a ng-href="#/about"><i class="fa fa-info-circle fa-fw"></i> Om</a></li>
          </ul>
          <ul class="navbar-form navbar-right">
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div id="navbar" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="sidebar-select">
              <select class="form-control" ng-change="asyncSelected1=null;" id="choice" ng-init="choice = choices[0];" ng-options="ch for ch in choices"
              ng-model="choice"></select>
            </li>
            <li class="sidebar-search" ng-show="choice != 'Liste'">
              <div class="input-group custom-search-form">
                <input type="text" ng-model="asyncSelected1" placeholder="Søk..." typeahead="address.info for address in search($viewValue)" typeahead-on-select="onSelect($item)" typeahead-template-url="customTemplate.html" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" style="cursor: default;">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </li>
            <li class="sidebar-search" ng-show="choice === 'Liste'">
              <select ng-change="onChangeSelect(selectedYear, selectedWeek)" class="soflow" id="year" ng-init="selectedYear = years[0];" ng-options="year as year for year in years"
              ng-model="selectedYear"></select>
              <select ng-change="onChangeSelect(selectedYear, selectedWeek)" class="soflow" id="week" ng-init="selectedWeek = weeks[0];" ng-options="week as week for week in weeks"
              ng-model="selectedWeek"></select>
              <i ng-show="selectLoad" class="glyphicon glyphicon-refresh"></i>
            </li>
            <li ng-class="{ active: isActive('/')}"><a ng-href="#/"><i class="fa fa-home fa-fw"></i> Hjem</a></li>
            <li ng-class="{ active: isActive('/data')}"><a ng-href="#/data"><i class="fa fa-database fa-fw"></i> Data beskrivelse</a></li>
            <li ng-class="{ active: isActive('/charts') || isActive('/chart/')}"><a ng-href="#/charts"><i class="fa fa-list fa-fw"></i> Lister</a></li>
            <li ng-class="{ active: isActive('/artists') || isActive('/artist/')}"><a ng-href="#/artists"><i class="fa fa-users fa-fw"></i> Artister</a></li>
            <li ng-class="{ active: isActive('/songs') || isActive('/song/')}"><a ng-href="#/songs"><i class="fa fa-music fa-fw"></i> Sanger</a></li>
            <li ng-class="{ active: isActive('/discover')}"><a ng-href="#/discover"><i class="fa fa-search fa-fw"></i> Oppdag</a></li>
            <li ng-class="{ active: isActive('/compare/')}"><a ng-href="#/compare/empty/empty"><i class="fa fa-pie-chart fa-fw"></i> Sammenlign</a></li>

          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div  autoscroll="true" ng-view="">

          </div>
        </div>
      </div>
    </div>
  </div>


  <script type="text/ng-template" id="customTemplate.html">
  <a style="   overflow: hidden; ">
  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
  </script>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/oldieshim.js -->
  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <![endif]-->
  <!-- endbuild -->
  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="bower_components/highcharts-ng/src/highcharts-ng.js"></script>
  <script src="mongolab/angular-mongolab.js"></script>
  <script src="regression/regression.js"></script>
  <script src="ui-boot/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/data.js"></script>
  <script src="scripts/services/songs.js"></script>
  <script src="scripts/services/charts.js"></script>
  <script src="scripts/services/mongolab_config.js"></script>
  <script src="scripts/services/summary.js"></script>
  <script src="scripts/services/summaryartist.js"></script>
  <script src="scripts/services/summarydecade.js"></script>
  <script src="scripts/services/summaryyear.js"></script>
  <script src="scripts/controllers/navbar.js"></script>
  <script src="scripts/controllers/charts.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/controllers/artists.js"></script>
  <script src="scripts/controllers/artist.js"></script>
  <script src="scripts/controllers/chart.js"></script>
  <script src="scripts/controllers/discover.js"></script>
  <script src="scripts/controllers/search.js"></script>
  <script src="scripts/controllers/compare.js"></script>
  <script src="scripts/controllers/song.js"></script>
  <script src="scripts/controllers/songs.js"></script>
  <script src="scripts/services/api.js"></script>
  <script src="scripts/services/summaryartisttopantall.js"></script>
  <script src="scripts/services/summaryartisttopduration.js"></script>
  <script src="scripts/services/summaryartisttopenergy.js"></script>
  <script src="scripts/services/summaryartisttoploudness.js"></script>
  <script src="scripts/services/summaryartisttopmode.js"></script>
  <script src="scripts/services/related.js"></script>
  <script src="scripts/services/summaryartisttoptempo.js"></script>
  <script src="scripts/services/summaryartisttoptimesignature.js"></script>
  <script src="scripts/services/summaryartisttopunik.js"></script>
  <script src="scripts/services/summarysongtopantall.js"></script>
  <script src="scripts/services/summarysongtopduration.js"></script>
  <script src="scripts/services/summarysongtopenergy.js"></script>
  <script src="scripts/services/summarysongtoploudness.js"></script>
  <script src="scripts/services/summarysongtopmode.js"></script>
  <script src="scripts/services/summarysongtoptempo.js"></script>
  <script src="scripts/services/summarysongtoptimesignature.js"></script>
  <script src="scripts/services/summaryartisttopdanceability.js"></script>
  <script src="scripts/services/summarysongtopdanceability.js"></script>
  <!-- endbuild -->


  <script src="d3/tags.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="d3/word-cloud.js"></script>
  <script src="d3/d3.layout.cloud.js"></script>
</body>
</html>
