
<div autoscroll="true">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-database fa-fw"></i> Musikk data
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          Echo Nest APIet  er verdens eneste "musikk lyttende" API. Den bruker proprietære maskin lytteteknikker for å simulere hvordan folk
          oppfatter musikk. Det inneholder prinsipper for psykoakustikk, musikk persepsjon, og adaptiv læring for å modellere både
          de fysiske og kognitive prosesser av menneskelig lytting. APIet returnerer en fullstendig beskrivelse av alle
          musikalske begivenheter, strukturer og musikalske attributter som nøkkel, lydstyrke, taktart, tempo, beats(slag), osv.
          Nedenfor følger forklaring av de brukte musikalske attributtene.

          <!-- /.list-group -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-database fa-fw"></i> Dansbarhet
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <p>
            Representerer hvor egnet en sang er for å danse til, verdien er et nummer mellom 0 og 1.
            Kombinasjonen av musikalske elementer som best karakteriserer dansbarhet inkluderer tempo,
            rytme stabilitet, slag styrke, og samlet regularitet.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-database fa-fw"></i> Energi
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <p>Er et nummer mellom 0 og 1, som representerer hvor energisk en sang er.
            Typisk for energiske låter er at de er raske, høylytte og bråkete.
            For eksempel har death metal høy energi, mens et forspill av Bach skårer lavt på skalaen.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-database fa-fw"></i> Lydstyrke
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <p>  Den generelle lydstyrken til en sang er målt i desibel(dB).
              En sang har forskjellig lydstyrke over flere segmenter.
              Verdien som blir benyttet forlydstyrke er derfor gjennomsnittsverdien målt gjennom hele sangen.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-database fa-fw"></i> Tempo
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <p>Er det estimerte tempoet til en sang, målt i taktslag per minutt(BPM).
              I musikkteori er tempo hastigheten i et gitt stykke og stammer direkte fra den gjennomsnittlige takt varigheten.
              F.eks så vil et stykke som går i 60 BPM ha ett taktslag i sekundet.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-database fa-fw"></i> Taktart
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <p>Er den anslåtte og samlede taktarten til en sang.
                Altså hvor mange slag som inngår i en gitt takt. Eller hvor mange deler en takt er delt opp i. </p>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-database fa-fw"></i> Nøkkel
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <p>Representerer nøkkelen som The Echo Nest mener sangen er i.
                  Tonearter starter på 0 (C) og følger den kromatiske skalaen </p>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-database fa-fw"></i> Skala
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <p>Representerer om sangen er spilt moll (0) eller dur (1) nøkkel. Bør sees sammen med 'nøkkelen'.</p>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-database fa-fw"></i> Varighet
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <p>Sangens varighet, målt i sekunder.</p>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
          </div>
        </div>
      </div>
