<div class="row">
  <h1 class="page-header"><i class="fa fa-info-circle fa-fw"></i>Om</h1>
  <div class="col-xs-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa fa-suitcase fa-fw"></i> Prosjektet
      </div>
      <div class="panel-body">
        <div class="col-xs-12 col-sm-6">
          Lorem Ipsum er rett og slett dummytekst fra og for trykkeindustrien. Lorem Ipsum har vært bransjens standard for dummytekst helt siden 1500-tallet, da en ukjent boktrykker stokket en mengde bokstaver for å lage et prøveeksemplar av en bok. Lorem Ipsum har tålt tidens tann usedvanlig godt, og har i tillegg til å bestå gjennom fem århundrer også tålt spranget over til elektronisk typografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.
        </div>
        <div class="col-sm-6 -col-xs-12">
          <div class="col-xs-12" style="margin-bottom:10px">
            <div class="text-center">
              <img src="images/vg.jpeg" style="
              border-radius: 150px;
              -webkit-border-radius: 150px;
              -moz-border-radius: 150px;"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa fa-user fa-fw"></i> Personlig
      </div>
      <div class="panel-body">
        <div class="col-sm-6 col-xs-12">
          Lorem Ipsum er rett og slett dummytekst fra og for trykkeindustrien. Lorem Ipsum har vært bransjens standard for dummytekst helt siden 1500-tallet, da en ukjent boktrykker stokket en mengde bokstaver for å lage et prøveeksemplar av en bok. Lorem Ipsum har tålt tidens tann usedvanlig godt, og har i tillegg til å bestå gjennom fem århundrer også tålt spranget over til elektronisk typografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="col-xs-12" style="margin-bottom:10px">
            <div class="text-center">
              <img src="images/meg.jpg" style="
              border-radius: 150px;
              -webkit-border-radius: 150px;
              -moz-border-radius: 150px;"/>
            </div>
          </div>
          <div class="col-xs-12">
            <p class="text-center">Anders Langseth</p>
          </div>
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-default btn-circle btn-lg" style="background-color: #007bb6; border-color: rgba(0,0,0,0.2); color: #fff;">
                <i class="fa fa-linkedin"></i>
              </button>
              <button type="button" class="btn btn-default btn-circle btn-lg" style="background-color: #444; border-color: rgba(0,0,0,0.2); color: #fff;">
                <i class="fa fa-github"></i>
              </button>
              <button type="button" class="btn btn-default btn-circle btn-lg" style="background-color: #2795e9; border-color: rgba(0,0,0,0.2); color: #fff;">
                <i class="fa fa-twitter"></i>
              </button>
              <button type="button" class="btn btn-default btn-circle btn-lg" style="background-color: #3b5998; border-color: rgba(0,0,0,0.2); color: #fff;">
                <i class="fa fa-facebook"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
