<div class="row">
  <h1 class="page-header"><i class="fa fa-info-circle fa-fw"></i>Om</h1>
  <div class="col-xs-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa fa-suitcase fa-fw"></i> Prosjektet
      </div>
      <div class="panel-body">
        <div class="col-xs-12 col-sm-8">
          <p>
            Prosjektet tar utgangspunkt i å oppdage, studere og utforske mønstre i norsk popmusikk gjennom en tidsperiode på 60år.
            Har popsanger i Norge store likheter, slik at de muligens følger en «oppskrift» på en «toppliste sang»?
            Slik som at sangene er like med tanke på rytme og takt eller at de er like på et lyrisk nivå.
            Kanskje ordet «love» var mye brukt på 60-tallet, men at det i dag er «party»?
            Dette er bare noen av spørsmålene man kan stille dette datasettet.
            Formuler dine egne spørsmål og prøv å finn svar på de!
          </p>
          <p>
            For å kunne svare på disse spørsmålene er det hentet lyd-teknisk data fra
            <a href="http://echonest.com">EchoNest</a> og lyriske data
            fra <a href="http://musixmatch.com">MusixMatch</a> for alle sangene på <a href="http://lista.no">VG Lista Topp 20</a>.

            For å enkelt kunne se mønstre i store datamengder er det presentert i form av grafer og andre visuelle komponenter.
            I mine øyne, kan disse dataene være interessante for generelle musikkelskere,
            historikere, journalister, produsenter, songwriters, osv.
          </p>
        </div>
        <div class="col-sm-4 -col-xs-12">
          <div class="col-xs-12" style="margin-bottom:10px">
            <div class="text-center">
              <img src="images/vg.jpeg" style="
              border-radius: 150px;
              -webkit-border-radius: 150px;
              -moz-border-radius: 150px;"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa fa-user fa-fw"></i> Personlig motivasjon
      </div>
      <div class="panel-body">
        <div class="col-sm-8 col-xs-12">
          Lorem Ipsum er rett og slett dummytekst fra og for trykkeindustrien. Lorem Ipsum har vært bransjens standard for dummytekst helt siden 1500-tallet, da en ukjent boktrykker stokket en mengde bokstaver for å lage et prøveeksemplar av en bok. Lorem Ipsum har tålt tidens tann usedvanlig godt, og har i tillegg til å bestå gjennom fem århundrer også tålt spranget over til elektronisk typografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="col-xs-12" style="margin-bottom:10px">
            <div class="text-center">
              <img src="images/meg.jpg" style="
              border-radius: 150px;
              -webkit-border-radius: 150px;
              -moz-border-radius: 150px;"/>
            </div>
          </div>
          <div class="col-xs-12">
            <p class="text-center">Anders Langseth</p>
          </div>
          <div class="col-xs-12">
            <div class="text-center">
              <a ng-href="https://www.linkedin.com/pub/anders-langseth/91/324/396">
                <button type="button" class="btn btn-default btn-circle btn-lg" style="background-color: #007bb6; border-color: rgba(0,0,0,0.2); color: #fff;">
                  <i class="fa fa-linkedin"></i>
                </button>
              </a>
              <a ng-href="https://github.com/langz">
                <button type="button" class="btn btn-default btn-circle btn-lg" style="background-color: #444; border-color: rgba(0,0,0,0.2); color: #fff;">
                  <i class="fa fa-github"></i>
                </button>
              </a>
              <a ng-href="https://twitter.com/Andersrofl">
                <button type="button" class="btn btn-default btn-circle btn-lg" style="background-color: #2795e9; border-color: rgba(0,0,0,0.2); color: #fff;">
                  <i class="fa fa-twitter"></i>
                </button>
              </a>
              <a ng-href="https://www.linkedin.com/pub/anders-langseth/91/324/396">
                <button type="button" class="btn btn-default btn-circle btn-lg" style="background-color: #3b5998; border-color: rgba(0,0,0,0.2); color: #fff;">
                  <i class="fa fa-facebook"></i>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
