<h3>{{artistName}}</h3>
<div class="col-xs-12 col-md-6">
  <highchart id="chart0" config="danceability" data-highcharts-chart="0" style="height:36px;"></highchart>
</div>
<div class="col-xs-12 col-md-6">
  <highchart id="chart1" config="duration" data-highcharts-chart="1" style="height:36px;"></highchart>
</div>
<div class="col-xs-12 col-md-6">
  <highchart id="chart2" config="energy" data-highcharts-chart="2" style="height:36px;"></highchart>
</div>
<div class="col-xs-12 col-md-6">
  <highchart id="chart3" config="loudness" data-highcharts-chart="3" style="height:36px;"></highchart>
</div>
<div class="col-xs-12 col-md-6">
  <highchart id="chart4" config="mode" data-highcharts-chart="4" style="height:36px;"></highchart>
</div>
<div class="col-xs-12 col-md-6">
  <highchart id="chart5" config="tempo" data-highcharts-chart="5" style="height:36px;"></highchart>
</div>
