<style>
  text:hover { opacity: .7 !important; }
</style>
<h2 class="sub-header">{{artist.artist}}</h>
<h3 class="sub-header">Lyd</h3>
<hr>






<div id="danceability" style="height:36px;"></div>


<div id="duration" style="height:36px;"></div>


<div id="energy" style="height:36px;"></div>


<div id="loudness" style="height:36px;"></div>


<div id="mode" style="height:36px;"></div>

<div id="listet" style="height:36px;"></div>

<div id="sanger" style="height:36px;"></div>


<div id="tempo" style="height:36px;"></div>
<div ng-show="tekst">
<h3 class="sub-header">Tekst</h3>
<hr>
<div id="vis" class="col-xs-12" ></div>
</div>

<h3 class="sub-header">Sanger</h3>
<hr>
<div class="row">
  <div class="col-xs-12">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="query" id="input_search" placeholder="Filtrer sanger">
    <span class="input-group-addon btn btn-primary button1" title="tooltip" >
      <span class="glyphicon glyphicon-search"></span>
    </span>
  </div>
</div>
</div>
</br>
<div class="row">
  <div class="col-xs-12">
  <table class="table table-hover table-condensed table-responsive table-striped">
    <tr>
      <th class="col-sm-4"> <a ng-click="sortField2='title'; reverse2 = !reverse2">
        Tittel <span ng-show="sortField2 == 'title'">
          <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
          <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
        </span>
      </a>
    </th>
    <th class="col-xs-4"> <a ng-click="sortField2='antall'; reverse2 = !reverse2">
      #Listet <span ng-show="sortField2 == 'antall'">
        <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
        <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
      </span>
    </a>
  </th>
  <th class="col-xs-4"><a ng-click="sortField2='felt3'; reverse2 = !reverse2">
    #Posisjon <span ng-show="sortField2 == 'felt3'">
      <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
      <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
    </span>
  </a>
</th>




</tr>
<tr ng-click="gotoSang(sang._id.$oid)" ng-repeat="sang in artist.sanger | filter:query | orderBy:sortField2:reverse2" style="cursor: pointer;">
  <td class="col-xs-4">{{sang.title}}</td>
  <td class="col-xs-4">{{sang.antall}}</td>
  <td class="col-xs-4">2</td>

</tr>
</table>
</div>
</div>
<h3 class="sub-header">Listet i</h3>
<hr>
<div class="row">
  <div class="col-xs-12">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="query1" id="input_search" placeholder="Filtrer lister">
    <span class="input-group-addon btn btn-primary button1" title="tooltip" >
      <span class="glyphicon glyphicon-search"></span>
    </span>
  </div>
</div>
</div>
</br>
<div class="row">
  <div class="col-xs-12">
  <table class="table table-hover table-condensed table-responsive table-striped">
    <tr>
      <th class="col-xs-3"> <a ng-click="sortField='position'; reverse = !reverse">
        Posisjon <span ng-show="sortField == 'position'">
          <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
          <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
        </span>
      </a>
    </th>
    <th class="col-xs-3"> <a ng-click="sortField='title'; reverse = !reverse">
      Sang <span ng-show="sortField == 'title'">
        <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
        <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
      </span>
    </a>
  </th>
    <th class="col-xs-3"> <a ng-click="sortField='week'; reverse = !reverse">
      Uke <span ng-show="sortField == 'week'">
        <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
        <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
      </span>
    </a>
  </th>
    <th class="col-xs-3"> <a ng-click="sortField='year'; reverse = !reverse">
      År <span ng-show="sortField == 'year'">
        <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
        <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
      </span>
    </a>
  </th>





</tr>
<tr ng-repeat="list in lister | filter:query1 | orderBy:sortField:reverse" style="cursor: pointer;">
  <td class="col-xs-4">{{list.position}}</td>
  <td ng-click="goToSangTitle(list.title, list.artist)" class="col-xs-4">{{list.title}}</td>
  <td ng-click="goToChartTypeChart(list.oid)" class="col-xs-4">{{list.week}}</td>
  <td class="col-xs-4">{{list.year}}</td>

</tr>
</table>
</div>
</div>
