<div autoscroll="true">
<div class="col-xs-12" style="margin-bottom:10px">
  <select ng-readonly="!safeToChange" class="form-control" ng-change="update(item)" ng-model="item" ng-init="item = choices[0]" ng-options="choice as choice.norsk for choice in choices"
  ></select>
</div>

<div class="col-xs-12">
  <highchart id="chart1" config="try" data-highcharts-chart="0"></highchart>
</div>
<div class="col-xs-12">
  <h4 class="">Finn informasjon om en liste</h4>
  <div class="col-xs-5 form-group">
    <label for="year1">År</label>
    <select class="soflow" id="year1" ng-init="selectedYear = years[0];" ng-options="year as year for year in years"
    ng-model="selectedYear"></select>
  </div>
  <div class="col-xs-5 form-group">
    <label for="week1">Uke</label>
    <select class="soflow" id="week1" ng-init="selectedWeek = weeks[0];" ng-options="week as week for week in weeks"
    ng-model="selectedWeek"></select>
  </div>
  <div class="col-xs-2 form-group">
    <button type="button" class="btn btn-default btn-lg" ng-click="getChart(selectedYear, selectedWeek)" style="margin-top:12px;">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Gå
    </button>
  </div>

</div>
</div>
