<style>
text:hover { opacity: .7 !important; }
</style>
<div ng-if="listeAktiv">
<h2 class="sub-header"><span style="cursor: pointer;" ng-click="goToChartTypeSummaryYear(chart.year)">{{chart.year}}</span>   <u><span style="font-size: 20px;">{{chart.week}}</span></u></h2>
</div>
<div ng-if="!listeAktiv">
<h2 class="sub-header">Sammendrag for året {{chart.year}}</h2>
</div>
<h3 class="sub-header">Lyd</h3>
<hr>







<div id="danceability" style="height:36px;"></div>


<div id="duration" style="height:36px;"></div>


<div id="energy" style="height:36px;"></div>


<div id="loudness" style="height:36px;"></div>


<div id="mode" style="height:36px;"></div>


<div id="tempo" style="height:36px;"></div>

<h3 class="sub-header">Tekst</h3>
<hr>
<div id="vis" class="col-xs-12" ></div>
</br>
<div ng-show="listeAktiv" >
  <h3 class="sub-header">Liste(Topp 20)</h3>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="query" id="input_search" placeholder="Filtrer listen">
        <span class="input-group-addon btn btn-primary button1" title="tooltip" >
          <span class="glyphicon glyphicon-search"></span>
        </span>
      </div>
    </div>
  </div>
</br>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-responsive table-striped">
      <tr>
        <th class="col-xs-2"> <a ng-click="sortField2='position'; reverse2 = !reverse2">
          Plassering <span ng-show="sortField2 == 'position'">
            <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
          </span>
        </a>
      </th>
        <th class="col-xs-6"> <a ng-click="sortField2='title'; reverse2 = !reverse2">
          Tittel <span ng-show="sortField2 == 'title'">
            <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
          </span>
        </a>
      </th>
      <th class="col-xs4"> <a ng-click="sortField2='artist'; reverse2 = !reverse2">
        Artist <span ng-show="sortField2 == 'artist'">
          <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
          <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
        </span>
      </a>
    </th>





  </tr>
  <tr ng-repeat="sang in chart.list | filter:query | orderBy:sortField2:reverse2" style="cursor: pointer;">
    <td class="col-xs-2">{{sang.position}}.</td>
    <td style="cursor: pointer;" ng-click="goToSang(sang.title)" class="col-xs-6">{{sang.title}}</td>
    <td style="cursor: pointer;" ng-click="gotoArtist(sang.artist)" class="col-xs-4">{{sang.artist}}</td>


  </tr>
</table>
</div>
</div>
</div>
<div>
  <h3 class="sub-header">Lister fra {{chart.year}}</h3>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="query" id="input_search" placeholder="Filtrer lister">
        <span class="input-group-addon btn btn-primary button1" title="tooltip" >
          <span class="glyphicon glyphicon-search"></span>
        </span>
      </div>
    </div>
  </div>
</br>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-responsive table-striped">
      <tr>
        <th class="col-xs-6"> <a ng-click="sortField='week'; reverse = !reverse">
          Uke <span ng-show="sortField == 'week'">
            <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
          </span>
        </a>
      </th>
      <th class="col-xs-6"> <a ng-click="sortField='year'; reverse = !reverse">
        År <span ng-show="sortField == 'year'">
          <span ng-show="!reverse" class="glyphicon glyphicon-arrow-up"></span>
          <span ng-show="reverse" class="glyphicon glyphicon-arrow-down"></span>
        </span>
      </a>
    </th>





  </tr>
  <tr ng-click="goToChartTypeChart(liste._id.$oid)" ng-repeat="liste in yearCharts | filter:query | orderBy:sortField:reverse" style="cursor: pointer;">
    <td class="col-xs-6">{{liste.week}}</td>
    <td class="col-xs-6">{{liste.year}}</td>


  </tr>
</table>
</div>
</div>
</div>
