<style>
text:hover { opacity: .7 !important; }
</style>
<div autoscroll="true">
  <h1 class="page-header">  <i class="fa fa-list fa-fw"></i>Liste
    <span ng-if="listeAktiv">
      <a style="font-size:14px; cursor: pointer; text-decoration: underline;" ng-click="goToChartTypeSummaryYear(chart.year)">{{chart.year}}</a><span style="font-size:14px;"> - </span><a style="font-size:14px; cursor: pointer; text-decoration: underline;">{{chart.week}}</a>
    </span>
    <span ng-if="!listeAktiv">
      <span style="font-size:14px;">
        Sammendrag for året
      </span>
      <a style="font-size:14px; cursor: pointer; text-decoration: underline;">{{chart.year}}</a>
    </span>
    <div class="pull-right"><button type="button" class="btn btn-default btn-lg" ng-click="goToCompare(chart._id.$oid)">
      <span class="fa fa-pie-chart" aria-hidden="true"></span> Sammenlign
    </button></div>
  </h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-file-sound-o fa-fw"></i> Lyd
  </div>
  <div class="panel-body">
    <div id="danceability" style="height:36px;"></div>
    <div id="energy" style="height:36px;"></div>
    <div id="loudness" style="height:36px;"></div>
    <div id="mode" style="height:36px;"></div>
    <div id="timesignature" style="height:36px;"></div>
    <div id="tempo" style="height:36px;"></div>
    <div id="duration" style="height:36px;"></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-file-text fa-fw"></i> Tekst
    <span class="pull-right" style="font-size:12px">Antall unike ord: {{chart.lyricSummary.length}}</span>
  </div>
  <div class="panel-body">
    <div id="vis" class="col-xs-12" ></div>
  </div>
</div>
<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-list fa-fw"></i> Andre Lister fra {{chart.year}}
    </div>
    <div class="panel-body">
      <div class="col-xs-12">
        <div class="col-xs-5 form-group">
          <label for="year1">År</label>
          <select class="soflow" id="year1" ng-init="selectedYear = years[0];" ng-options="year as year for year in years"
          ng-model="selectedYear"></select>
        </div>
        <div class="col-xs-5 form-group">
          <label for="week1">Uke</label>
          <select class="soflow" id="week1" ng-init="selectedWeek = weeks[0];" ng-options="week as week for week in weeks"
          ng-model="selectedWeek"></select>
        </div>
        <div class="col-xs-2 form-group">
          <button type="button" class="btn btn-default btn-lg" ng-click="getChart(selectedYear, selectedWeek)" style="margin-top:12px;">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Gå
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="listeAktiv" >
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-trophy fa-fw"></i>Listeplassering(Topp {{chart.list.length}})
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="query" id="input_search" placeholder="Filtrer listen">
            <span class="input-group-addon btn btn-primary button1" title="tooltip" style="border: 1px solid #ccc;" >
              <i class="fa fa-search fa-fw"></i>
            </span>
          </div>
        </br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover table-condensed table-responsive table-striped">
          <tr>
            <th class="col-xs-2"> <a ng-click="sortField2='position'; reverse2 = !reverse2">
              Plassering <span ng-show="sortField2 == 'position'">
                <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
              </span>
            </a>
          </th>
          <th class="col-xs-6"> <a ng-click="sortField2='title'; reverse2 = !reverse2">
            Tittel <span ng-show="sortField2 == 'title'">
              <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
              <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
            </span>
          </a>
        </th>
        <th class="col-xs4"> <a ng-click="sortField2='artist'; reverse2 = !reverse2">
          Artist <span ng-show="sortField2 == 'artist'">
            <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
          </span>
        </a>
      </th>
    </tr>
    <tr ng-repeat="sang in chart.list | filter:query | orderBy:sortField2:reverse2" style="cursor: pointer;">
      <td class="col-xs-2">{{sang.position}}.</td>
      <td style="cursor: pointer;" ng-click="goToSang(sang.title)" class="col-xs-6">{{sang.title}}</td>
      <td style="cursor: pointer;" ng-click="gotoArtist(sang.artist)" class="col-xs-4">{{sang.artist}}</td>
    </tr>
  </table>
</div>
</div>
</div>
</div>
</div>
</div>
