
<div autoscroll="true">
  <h1 class="page-header"><i class="fa fa-database fa-fw"></i> Data Beskrivelse</h1>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-file-sound-o fa-fw"></i> Musikk data
        </div>
        <div class="panel-body">
          <div class="col-xs-12" style="margin-bottom: 20px;">
            Echo Nest APIet  er verdens eneste "musikk lyttende" API. Den bruker proprietære maskin lytteteknikker for å simulere hvordan folk
            oppfatter musikk. Det inneholder prinsipper for psykoakustikk, musikk persepsjon, og adaptiv læring for å modellere både
            de fysiske og kognitive prosesser av menneskelig lytting. APIet returnerer en fullstendig beskrivelse av alle
            musikalske begivenheter, strukturer og musikalske attributter som nøkkel, lydstyrke, taktart, tempo, beats(slag), osv.
            Nedenfor følger forklaring av de brukte musikalske attributtene.
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-child fa-fw"></i> Dansbarhet
                </div>
                <div class="panel-body">
                  <p>
                    Representerer hvor egnet en sang er for å danse til, verdien er et nummer mellom 0 og 1.
                    Kombinasjonen av musikalske elementer som best karakteriserer dansbarhet inkluderer tempo,
                    rytme stabilitet, slag styrke, og samlet regularitet.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-flash fa-fw"></i> Energi
                </div>
                <div class="panel-body">
                  <p>Er et nummer mellom 0 og 1, som representerer hvor energisk en sang er.
                    Typisk for energiske låter er at de er raske, høylytte og bråkete.
                    For eksempel har death metal høy energi, mens et forspill av Bach skårer lavt på skalaen.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <i class="fa fa-volume-up fa-fw"></i> Lydstyrke
                  </div>
                  <div class="panel-body">
                    <p>  Den generelle lydstyrken til en sang er målt i desibel(dB).
                      En sang har forskjellig lydstyrke over flere segmenter.
                      Verdien som blir benyttet forlydstyrke er derfor gjennomsnittsverdien målt gjennom hele sangen.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <i class="fa fa-signal fa-fw"></i> Tempo
                  </div>
                  <div class="panel-body">
                    <p>Er det estimerte tempoet til en sang, målt i taktslag per minutt(BPM).
                      I musikkteori er tempo hastigheten i et gitt stykke og stammer direkte fra den gjennomsnittlige takt varigheten.
                      F.eks så vil et stykke som går i 60 BPM ha ett taktslag i sekundet.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <i class="fa fa-bell fa-fw"></i> Taktart
                    </div>
                    <div class="panel-body">
                      <p>Er den anslåtte og samlede taktarten til en sang.
                        Altså hvor mange slag som inngår i en gitt takt. Eller hvor mange deler en takt er delt opp i. </p>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <i class="fa fa-key fa-fw"></i> Nøkkel
                      </div>
                      <div class="panel-body">
                        <p>Representerer nøkkelen som The Echo Nest mener sangen er i.
                          Tonearter starter på 0 (C) og følger den kromatiske skalaen </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <i class="fa fa-music fa-fw"></i> Skala
                        </div>
                        <div class="panel-body">
                          <p>Representerer om sangen er spilt moll (0) eller dur (1) nøkkel. Bør sees sammen med 'nøkkelen'.</p>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <i class="fa fa-clock-o fa-fw"></i> Varighet
                        </div>
                        <div class="panel-body">
                          <p>Sangens varighet, målt i sekunder.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-file-text-o fa-fw"></i> Tekst data
                </div>
                <div class="panel-body">
                  <div class="col-xs-12" style="margin-bottom: 20px;">
                    Musixmatch APIet tilbyr mer enn 20 millioner sanger i 50 forskjellige språk fra 1 million artister.
Jeg har benyttet meg av tjenesten for å hente lyrikken til alle sangene som har blitt analysert.
MusiXmatch presenterer seg som den raskeste, mest kraftige og lovlige måten å vise lyrikk på din nettside eller i din applikasjon på.
Det beste med tjenesten er at lyrikken er lisensiert og de har avtaler med blant annet Warner Chappel, Universal Bmg, Emi og fler.
På grunn av disse avtalene er det fullt lovlig å benytte meg av den lisensierte lyrikken.
Dette er viktig for meg ettersom rettigheter innenfor musikk er et komplisert emne.
Selv om APIet er veldig omfattende, så har det vist seg at det er enkelte sanger fra VG-Lista topp 20 som ikke er i MusixMatch APIet.
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <i class="fa fa-table fa-fw"></i> Term Frekvens
                        </div>
                        <div class="panel-body">
                          <p>
                            Representerer hvor mange ganger et ord er representert i et dokument(sang).
Blir i prosjektet brukt til å se antall ganger et ord har blitt nevnt av en artist i sanger, lister, år.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <i class="fa fa-remove fa-fw"></i> Fjerning av stoppord
                        </div>
                        <div class="panel-body">
                          <p>
                            Stoppord er ord som er blitt filtrert ut før behandling av tekst dataen.
Det finnes dessverre ingen universell liste over stoppord brukt av all behandling av naturlige språkverktøy.
Den stoppordslisten jeg har benyttet meg av er fra <a href="www.Uib.no"> UiB </a> og dekker mine behov.
</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
