

<div class="col-xs-12">
  <highchart id="chart1" config="try" data-highcharts-chart="0"></highchart>
</div>
<div class="col-xs-6 form-group">
        <label for="Y">yAxis</label>
  <select id="Y" ng-readonly="!safeToChange" class="form-control" ng-change="update(itemX, itemY)" ng-model="itemY" ng-init="itemY = choicesY[1]" ng-options="choice as choice.name for choice in choicesY"
  ></select>
</div>
<div class="col-xs-6 form-group">
        <label for="X">xAxis</label>
  <select id="X" ng-readonly="!safeToChange" class="form-control" ng-change="update(itemX, itemY)" ng-model="itemX" ng-init="itemX = choicesX[0]" ng-options="choice as choice.name for choice in choicesX"
  ></select>
</div>
