<div autoscroll="true">
  <h1 class="page-header"><i class="fa fa-home fa-fw"></i>Hjem</h1>
  <div class="row hidden-xs">
    <div class="col-md-4">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-list fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">2,768</div>
              <div>Lister</div>
            </div>
          </div>
        </div>
        <a ng-href="#/charts">
          <div class="panel-footer">
            <span class="pull-left">Utforsk!</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">2,251</div>
              <div>Artister</div>
            </div>
          </div>
        </div>
        <a ng-href="#/artists">
          <div class="panel-footer">
            <span class="pull-left">Utforsk!</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-music fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">4,444</div>
              <div>Sanger</div>
            </div>
          </div>
        </div>
        <a ng-href="#/songs">
          <div class="panel-footer">
            <span class="pull-left">Utforsk!</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
        <i class="fa fa fa-list fa-fw"></i> <span style="cursor: pointer;" ng-click="goToChartTypeChart(chart._id.$oid)">Liste {{year}} - Uke {{week}}</span>
        </div>
        <div class="panel-body">
          <div class="row" ng-style="myStyle">
            <div class="col-xs-12" ng-if="chart.list">
              <table class="table table-hover table-condensed table-bordered table-responsive table-striped">
                <tr>
                  <th class="col-xs-2"> <a ng-click="sortField2='position'; reverse2 = !reverse2">
                    Plassering <span ng-show="sortField2 == 'position'">
                      <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
                      <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
                    </span>
                  </a>
                </th>
                <th class="col-xs-6"> <a ng-click="sortField2='title'; reverse2 = !reverse2">
                  Tittel <span ng-show="sortField2 == 'title'">
                    <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
                    <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
                  </span>
                </a>
              </th>
              <th class="col-xs4"> <a ng-click="sortField2='artist'; reverse2 = !reverse2">
                Artist <span ng-show="sortField2 == 'artist'">
                  <span ng-show="!reverse2" class="glyphicon glyphicon-arrow-up"></span>
                  <span ng-show="reverse2" class="glyphicon glyphicon-arrow-down"></span>
                </span>
              </a>
            </th>
          </tr>
          <tr ng-repeat="sang in chart.list | filter:query | orderBy:sortField2:reverse2" style="cursor: pointer;">
            <td class="col-xs-2">{{sang.position}}.</td>
            <td style="cursor: pointer;" ng-click="goToSangTitle(sang.title, sang.artist)" class="col-xs-6">{{sang.title}}</td>
            <td style="cursor: pointer;" ng-click="gotoArtist(sang.artist)" class="col-xs-4">{{sang.artist}}</td>
          </tr>
        </table>
      </div>
      <div ng-if="chart.feil">

        <div class="text-center">
          <i class="fa fa-frown-o fa-6x" style="font-size:75px"></i>
        </div>


        <p class="text-center">
          {{chart.feil}}
        </p>

      </div>
    </div>

    <div class="col-xs-12">
      <p class="text-center">
        <pagination style="margin:0px;" ng-change="changePagination()" items-per-page="one" total-items="years" ng-model="year" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages1" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </p>
    </div>
    <div class="col-xs-12">
      <p class="text-center">
        <pagination style="margin:0px; " ng-change="changePagination()" items-per-page="one" total-items="weeks" ng-model="week" max-size="maxSize2" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages2" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </p>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-key fa-fw"></i> Nøkkel data
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <i class="fa fa fa-calendar fa-fw"></i> År
              <span class="pull-right text-muted small"><em>54</em>
              </span>
            </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-list fa-fw"></i> Lister
              <span class="pull-right text-muted small"><em>2,768</em>
              </span>
            </a>
            <a href="#" class="list-group-item">
              <i class="fa fa fa-users fa-fw"></i> Artister
              <span class="pull-right text-muted small"><em>2,251</em>
              </span>
            </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-music fa-fw"></i> Sanger
              <span class="pull-right text-muted small"><em>4,444</em>
              </span>
            </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-database fa-fw"></i> Data
              <span class="pull-right text-muted small"><em>150.45 MB</em>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
